<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "K Group Practicum Team3" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>


    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <!-- TODO: Hide based on Sessions/Role -->
      <nav class="flex border-0 border-b-2 border-solid border-b-gray-600 justify-between">
        <a href="#">
          <span class="flex flex-row p-2">Logo</span>
        </a>
        <!-- Search bar -->
        <div class="sm border border-gray-300 flex flex-row w-full">
          <form class="flex flex-row p-4 w-auto" action="" method="post">
            <input type="text" name="search" placeholder="Search..." />
            <button type="submit" alt="search button">Search</button>
          </form>
        </div>
        <ul class="flex flex-row w-full gap-4">
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Browse</a>
            <!-- Browse by category instead  -->
            <ul>
              <!-- TODO: Link to pages with the filter applied -->
            </ul>
          </li>
          <!-- These might get merged into one dashboard  -->
          <li>
            <a href="#">Dashboard</a>
          </li>
          <!-- These might get merged into one dashboard  -->
          <li>
            <a href="#">Events</a>
          </li>
          <li>
            <a href="#">Sign out</a>
          </li>
          <li>
            <a href="#">Sign in</a>
          </li>
          <li>
            <a href="#">Create Account</a>
          </li>
          <li>
            <a href="#">Account</a>
          </li>
        </ul>
        
      </nav>

    </header>


    <main class="container mx-auto mt-28 px-5 flex">        
      <%= yield %>
    </main>
  </body>
</html>
